<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
               Vehicles - {{carDetails.status}}
               <h6>{{carDetails.uuid}}</h6>
            </div>
        </div>
        <ion-list>
            <h3 class="item item-text-wrap">Nearby Vehicles</h3>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="vehicle in carDetails.vib" type="item-text-wrap">
                <h2>

                    {{vehicle.uuid}}
                </h2>
                <i class="icon ion-chevron-right icon-accessory">
                </i>
                <ion-option-button class="button-balanced" ng-click="follow(vehicle)">
                    Follow
                </ion-option-button>
            </ion-item>
        </ion-list>

        <div class="card" ng-show="carDetails.follow.length > 0">
            <div class="item item-text-wrap">Followed Vehicles</div>
            <div class="item item-text-wrap">
               <div class="list list-inset" ng-repeat="vehicle in carDetails.follow">
                 <div class="item">{{vehicle.uuid}}</div>
               </div>
            </div>
        </div>
    </ion-content>
</ion-view>
