<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
               Vehicles - {{carDetails.status}}
               <h6>{{carDetails.uuid}}</h6>
            </div>
        </div>
        <!-- inputs and navigation  -->
        <div class="card">
          <div class="row">
            <div class="col">
                <span>From:</span>
                <ion-google-place placeholder="From Address" ng-model="fromLocation" search-placeholder="From Address"  />
            </div>
            </div>
            <div class="row">
            <div class="col">
                <span>To:</span>
                <ion-google-place placeholder="To Address" ng-model="toLocation" search-placeholder="To Address" />
            </div>
          </div>
          <div class="row" >
            <button class="button button-block button-positive" ng-click="navigate(fromLocation, toLocation)">
              Navigate
            </button>
          </div>

        </div>

         <div class="card">
            <div class="item item-text-wrap" ng-repeat="instruction in directionInstruction">
              <div class="row">
                  <div class="col col-75">{{instruction.text}}<h6>{{instruction.street_name}}</h6></div>
                  <div class="col col-25">{{instruction.distance}} m <h6>{{instruction.time}} s</h6></div>
              </div>
              
            </div>
        </div>
      
    </ion-content>
</ion-view>
