<ion-view view-title="Dashboard">
    <ion-content class="padding">
       <div class="card">
            <div class="item item-text-wrap">
               <span>Vehicles - {{carDetails.status}}</span>
               <span style="left:0; right:0; float:right" class="ion-log-out" ng-click="logout()"></span>
               <h6>{{carDetails.uuid}}</h6>
               <h5>
                  Latitude: {{carDetails.location.lat}}
              </h5>
              <h5>
                  Longitude: {{carDetails.location.long}}
              </h5>
              <h5>
                  Speed: {{carDetails.speed}}
              </h5>
              <h5>
                channels {{getAllChannels()}}
              </h5>
            </div>
        </div>
        <div ng-show="reRoutingCompleted"><h3>ReRouting Process Completed, Assigned New Route!</h3></div>

        <!-- inputs and navigation  -->
        <div class="card">
          <div class="row">
            <div class="col">
                <span>From:</span>
                <ion-google-place placeholder="From Address" ng-model="fromLocation" search-placeholder="From Address"  />
            </div>
            </div>
            <div class="row">
            <div class="col">
                <span>To:</span>
                <ion-google-place placeholder="To Address" ng-model="toLocation" search-placeholder="To Address" />
            </div>
          </div>
          <div class="row" >
            <button class="button button-block button-positive" ng-click="navigate(fromLocation, toLocation)">
              Navigate
            </button>
          </div>

        </div>  

         <div class="card">
            <div class="item item-text-wrap" ng-repeat="instruction in carDetails.currentRoute.instructions">
              <div class="row">
                  <div class="col col-75">{{$index+1}}. {{instruction.text}}<h6>{{instruction.street_name}}</h6></div>
                  <div class="col col-25">{{instruction.distance}} m <h6>{{instruction.time/60}} s</h6></div>
              </div>

            </div>
        </div>
    </ion-content>
</ion-view>
